autom4te.cache/
Makefile
config.log
config.status
*.desktop
libtool
po/.intltool-merge-cache
po/POTFILES
po/*.gmo
po/stamp-it
po/Makefile.in
src/.deps/
src/*/.deps/
src/*/.dirstamp
src/spacefm
src/xml-purge
*.o
Makefile.in
aclocal.m4
compile
configure
data/Makefile.in
depcomp
etc/Makefile.in
ltmain.sh
missing
po/Makefile.in.in
src/Makefile.in
intltool-extract.in
intltool-merge.in
intltool-update.in

